// @font-face{
//     font-family: 'Acrom';
//     src: url("../fonts/acrom-bold-webfont.woff2") format("woff2");
//     src: url("../fonts/acrom-bold-webfont.woff") format("woff");
//     font-weight: 700;
// }
// @font-face{
//     font-family: 'Acrom';
//     src: url("../fonts/acrom-extrabold-webfont.woff2") format("woff2");
//     src: url("../fonts/acrom-extrabold-webfont.woff") format("woff");
//     font-weight: 900;
// }
// @font-face{
//     font-family: 'Acrom';
//     src: url("../fonts/acrom-regular-webfont.woff2") format("woff2");
//     src: url("../fonts/acrom-regular-webfont.woff") format("woff");
//     font-weight: 400;
// }
// @font-face{
//     font-family: 'Acrom';
//     src: url("../fonts/acrom-medium-webfont.woff2") format("woff2");
//     src: url("../fonts/acrom-medium-webfont.woff") format("woff");
//     font-weight: 500;
// }
@font-face{
    font-family: 'Acrom';
    src: url("../fonts/AcromWOrkING/AcromW00-Bold.woff");
    font-weight: 700;
}
@font-face{
    font-family: 'Acrom';
    src: url("../fonts/AcromWOrkING/AcromW00-ExtraBold.woff");
    font-weight: 900;    
}
@font-face{
    font-family: 'Acrom';
    src: url("../fonts/AcromWOrkING/AcromW00-Medium.woff");
    font-weight: 500;
}
@font-face{
    font-family: 'Acrom';
    src: url("../fonts/AcromWOrkING/AcromW00-Regular.woff");
    font-weight:400; 
}