*{
    padding: 0;
    margin: 0; 
}
.hand{
    padding: 0 12px;
    margin-top: 16px;
    &__title{
        width: 144px;
        margin: 0 auto;
        @include font-style(12, 900);
        line-height: 1;
        text-transform: uppercase;
    }
    &__text--before{
        @include font-style(10, 500);
        display: flex;
        width: 158px;
        margin: 14px auto 0;
        &::before{
            content: "";
            display: block;
            width: 20px;
            height: 2px;
            background-color: $primary-color;
            position: relative;
            top: 4px;
            right: 7px;
        }
    }
    &__pic{
        display: block;
        margin: 16px auto 0;
    }
    &__title-img{
        width: 160px;
        margin: 26px auto 0;
        @include font-style(10, 900);
        text-transform: uppercase;
        line-height: 1;
    }
    &__text{
        @include font-style(10, 500);
        display: flex;
        width: 158px;
        margin: 14px auto 0;
    }
}


.only-about{
    padding: 31px 16px 0;

    &-pic{
        display: block;
        margin: 0 auto;
        width: 184px;
        background-image: url("../images/only_it@1X.png");
        background-position-x: 76px;
        background-repeat: no-repeat;
    }
    &__pic{
        display: block;
        width: 147px;
        height: 166px;
        margin: 0 auto;
    }
    &__fraction{
        color: $primary-color;
    }
    &__text{
        @include font-style(10, 500, $action-color);
        width: 237px;
        margin: 30px auto 0;
    }
    &__title{
        width: 195px;
        margin: 15px auto 0;
        @include font-style(12, 900, $white-color);
        background-color: $primary-color;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;
    }
    &__text--color{
        display: flex;
        color: $primary-color;
        width: 191px;
        &::before{
            content: "";
            display: block;
            width: 20px;
            height: 2px;
            background-color: $primary-color;
            position: relative;
            top: 4px;
            right: 7px;
        }
        
    }

}


.only-opportunities{
    padding: 38px 12px 0;
    &__title{
        width: 234px;
        margin: 0 auto;
        @include font-style(10, 900);
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: -1px;
    }

    &-list{
        width: 190px;
        margin: 22px auto 0;

        &__item{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            &::before{
                content: "[ 001 ]";
                @include font-style(9, 700, $white-color);
                text-align: center;
                transform: rotate(90deg);
                display: block;
                width: 35px;
                height: 7px;
                background-color: $action-color; 
                position: relative;
                top: 44px;
                right: 30px;
            }
        }
        
        &__text{
            @include font-style(11, 700);
            margin-top: 19px;
            width: 160px;
            }
        &--color{
            @include font-style(10, 500, $grey-color); 
            margin-top: 9px;
            width: 160px;
        }
    }

}

@media(min-width: 480px){
    .hand{
        &__title{
            width: 215px;
            font-size: 16px;
            font-weight: 900;
            line-height: 2;
        }
        &__text--before{
            font-size: 12px;
            width: 220px;
        }
        &__title-img{
            font-size: 12px;
            width: 199px;
            line-height: 1.5;
        }
        &__text{
            font-size: 12px;
            width: 200px;
        }
    }

    .only-about{
        &-pic{
            width: 250px;
            background-position-x: 144px;
        }
        &__pic{
            width: 220px;
            height: 249px;
        }
        &__text{
            font-size: 12px;
            width: 355px;
        }
        &__title{
            font-size: 16px;
            width: 293px;
            padding: 3px 0;
            letter-spacing: 1px;
        }
        &__text--color{
            width: 270px;
        }
    }

    .only-opportunities{
        &__title{
            font-size: 14px;
            width: 351px;
        }
        &-list{
            width: 280px;

            &__text{
                font-size: 14px;
                width: 250px;
            }
            &--color{
                font-size: 13px;
                width: 250px;
            }
        }
       
        
    }

}

@media(min-width: 768px){
    .hand{
        margin: 0 auto;
        padding-top: 57px;
        width: 630px;
        display: flex;
        justify-content: space-between;

        &__pic{
            margin: 0 auto;
        }
        &__title-img{
            margin: 0 auto;
        }
        &__title {
            width: 240px;
            font-size: 24px;
            line-height: 1.5;
        }
        &__text--before {
            font-size: 10px;
            width: 167px;
            letter-spacing: 0.1px;
        }
        &__title-img {
            margin: 0;
            font-size: 11px;
            width: 120px;
        }
        &__text {
            font-size: 9px;
            width: 146px;
        }
    }
    







}



