*{
    margin: 0;padding: 0;
}

.study{
    padding: 1.5rem 1rem;

    &--main_title{    
    @include font-style(12, 700);
    text-transform: uppercase;
    width: 250px;
    margin: 0 auto 10px;
    }
    &_biggest{
        width: 195px;
        margin: auto;

        &--title{
            margin-bottom: 5px;

        }

        &--paragraph{
            margin-bottom: 24px;
        }
    }

    &--image{
        width: 100%;
        margin-bottom: 40px;
    }

    &_numberone::before{
        content: "";
        display: block;
        width: 14px;
        height: 2px;
        background-color: #000000;
        margin: 6px 4px 0 0;
    }
    &_numberone{
        display: flex;
        width: 195px;
        margin: 0 auto 24px;

        &--paragraph{
        width: 175px;
        @include font-style(9, 500);
        }
    }

    &_goforit{
        position: relative;
        width: 195px;
        margin: auto;

        &--image{    
            position: absolute;
            right: 0;
            width: 53px;
        }
        &--sub_title{
            width: 122px;
        }
        &--paragraph{
            margin-bottom: 24px;
        }
    }

    &_recognized{
        width: 195px;
        margin: auto;

        &--list{
            list-style: none;

            &_item{
                display: flex;
                flex-direction: row-reverse;
                align-items: flex-start;
                margin-bottom: 24px;
                

                &_image1{
                    width: 27px;
                }
                &_image2{
                    width: 36px;
                }
                &_title{
                    width: 110px;
                }
            }
        }
    }


    &--paragraph{
        @include font-style(9, 400);
    }
    &--title{
        @include font-style(10, 500);
        display: inline-block;
        background-color: #000;
        color: #fff;
        margin-bottom: 24px;
    }
    &--sub_title{
        @include font-style(9, 900);
        text-transform: uppercase;
    }
}

@media (min-width: 480px) and (max-width: 767px){

    .study{

        &--main_title{
            font-size: 18px;
            width: 375px;
            margin-bottom: 16px;
        }
        &_biggest,
        &_numberone,
        &_goforit,
        &_recognized{
            width: 290px;
        }

        &_biggest{
            &--title{
                margin-bottom: 10px;
            }
            &--paragraph {
                margin-bottom: 36px;
            }
        }

        &--image {
            margin-bottom: 56px;
        }

        &_numberone::before {
            width: 20px;
            margin: 9px 8px 0 0;
            height: 4px;
        }

        &_numberone{
            margin-bottom: 32px;
        }
        &_numberone--paragraph {
            width: 260px;
            font-size: 13px;
        }

        &_goforit--image {
            width: 80px;
        }
        &_goforit--paragraph {
            margin-bottom: 40px;
        }
        &_recognized--list_item_image1 {
            width: 41px;
        }
        &_recognized--list_item_image2 {
            width: 54px;
        }
        &_recognized--list_item_title {
            width: 165px;
        }

        &--paragraph,
        &--title,
        &--sub_title{
            font-size: 13px;
        }
    }
}

@media (min-width: 768px) and (max-width: 959px){

    .study{
        padding: 3rem 4rem;
        
        &_header{
            width: 640px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &_biggest {
            display: flex;
            width: 345px;
            margin: 0;

            &--title{
                width: 93px;
            }
            &--paragraph{
                width: 120px;
            }
        }


        &_footer{
            width: 640px;
            display: flex;
            justify-content: space-between;
        }
        &_goforit{
            width: 151px;
            margin: 0;

            &--sub_title{
                margin-bottom: 10px;
            }
        }
        &_recognized{
            width: 475px;
            margin: 0;

            &--list{
            width: 475px;
            display: flex;
            justify-content: space-between;

                &_item{
                    width: 140px;
                    justify-content: space-between;

                    &_title {
                        width: 55px;
                        margin-bottom: 10px;
                    }
                    &_para{
                        width: 100px;
                    }
                }
            }
        }

        &--paragraph,
        &--title,
        &--sub_title{
            font-size: 9px;
        }
    }
}